@font-face {
  font-family: 'bornready';
  src: url('/assets/fonts/bornreadyttf-webfont.woff2') format('woff2'),
    url('/assets/fonts/bornreadyttf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
