  .splash-bg {
    position: relative;
    background: linear-gradient(rgb(229 94 94 / 32%), rgb(96 75 148 / 89%)), url('../../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 100vh;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }
  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
  .splash-info {
    position: absolute;
    z-index: 5000;
    top: 6vh;
    left: 32vw;
  }
  .splash-logo {
    margin: auto;
    background: url('../../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  .button-wrapper {
    position: absolute;
    width: 89%;
    top: 11vh;
  }
  .login-wrapper {
    position: absolute;
    top: 26vh;
    left: 7px;
    width: 91%;
    height: 52%;
    background: #ffffffa8;
  }
