<ion-content scroll="false">
  <div class="splash-bg">
    <div class="splash-info">
      <div class="splash-logo"></div>
    </div>
    <ion-card class="login-wrapper">
      <ion-card-content>
        <div class="splash-info"></div>
        <div class="button-wrapper">
          <div>
            <ion-button class="ion-margin" expand="block" color="primary" (click)="login()">{{ 'log_in' | translate }}</ion-button>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="3">
                  <hr>
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                  {{ 'or' | translate }}
                </ion-col>
                <ion-col size="3">
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button class="ion-margin" expand="block" color="primary" (click)="signup()">{{ 'sign_up' | translate }}</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>