.tutorial-content-img {
  height: 14em;
  margin-top: 2%;
  margin-bottom: 13%;
}
.tutorial-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tutorial-wraper {
  height: 95vh;
}
.tutorial-actions {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.slider-config {
  height: 100vh;
}
.grid-wrapper {
  height: 100vh;
}